<header class="dashboard-header">
    <div class="header-content">
        <h1 id="welcome-message" class="welcome-message">Bienvenido a Aramedic</h1>
    </div>
    <div id="user-profile" class="user-profile">
        <!-- El contenido se llenará dinámicamente con JavaScript -->
    </div>
</header>